<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galeria de Fotos
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content id="container">

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="../../assets/images/foto.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" expand="block" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
