<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content id="container" [fullscreen]="true">

    <!-- Componente 9 -->

  <ion-button (click)="presentAlert()">Salir</ion-button>

  <br>

    <!-- Componente 10 -->
  <ion-list>
    <ion-item>
      <ion-label>Autoguardado</ion-label><ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Enfoque automatico</ion-label><ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Almacenamiento Interno</ion-label><ion-toggle [checked]="true" [disabled]="true"></ion-toggle>
    </ion-item>
  </ion-list>
  
</ion-content>
